<!---
Reference the Microsoft documentation for bundling and minification of static web assets:
https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
--->

<-- The navbar brand element is styled to have normal white-space, centered text, and word-break applied to it. -->
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

<-- The a element is styled to provide sufficient contrast against the white background with a blue color. --->
a {
  color: #0366d6;
}

<-- The btn-primary class styles the primary button with white text, blue background, and blue border. -->
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

<-- The nav-pills .nav-link.active and .nav-pills .show > .nav-link elements are styled to have white text, blue background, and blue border. -->
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

<-- Sticky footer styles for the HTML element. -->
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

<-- The border-top, border-bottom, and box-shadow classes provide borders and box-shadow effects. -->
.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}
.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

<-- The button.accept-policy class styles the accept
