@* 
    This is a Razor view file for creating a new customer. It uses the CustomerViewModel
    provided by the Equinox.Application.ViewModels namespace. The view displays a form
    for user input, including fields for the customer's name, email, and birth date.

    The view uses tag helpers, which are HTML helpers that allow you to create server-side
    code within your HTML. This makes it easier to create strongly-typed views and reduces
    the need for manual JavaScript code.

    The view also includes a custom ViewComponent for displaying validation summary.
*@

@model Equinox.Application.ViewModels.CustomerViewModel

@{
    ViewData["Title"] = "Register new Customer";
    // ViewData is a dictionary that allows you to pass data from the controller to the view.
    // In this case, it sets the page title to "Register new Customer".
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" method="post">
    <div class="form-horizontal">
        <hr />

        @* Replacing classic Validation Summary to Custom ViewComponent as TagHelper *@
        <vc:validation-summary />
        // This line renders a custom ViewComponent named "validation-summary". ViewComponents are reusable
        // components that encapsulate HTML markup and server-side logic.

        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="BirthDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
                // Added Bootstrap class "btn btn-primary" to the submit button
            </div>
        </div>
    </div>
</form>
