@model Equinox.UI.Web.Models.ErrorViewModel

<div>
    @{
        ViewData["Title"] = "Oops! An error has occurred!";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h1>
        @if (Model == null)
        {
            <text>An unexpected error has occurred.</text>
        }
        else
        {
            @Model.Title
        }
    </h1>

    @if (Model != null)
    {
        <h2 class="text-danger">@Model.Message</h2>
    }
</div>
